.app-content {
    position: relative;
    color: $white;
    /* ----------------------------USER INPUT--------------------- */
    .userinput {
        width: 100%;
        @include flexbox(center, 0.1em);
        padding: 1em 0;
        input {
            text-align: inherit;
            width: clamp(12rem, 25vw, 35%);
            padding: 0.625rem;
            border-radius: 0.625rem;
        }
        button {
            padding-left: 1em;
            border: none;
            background-color: $dark-blue;
            img {
                width: 1.8rem;
                height: 1.8rem;
            }
        }
    }
    /* ---------------------------TASK LIST---------------------- */
    .list-of-tasks {
        @include flexbox-block(0.5em);
        div {
            border-radius: 5px;
            width: clamp(15rem, 40vw, 45%);
            @include flexbox;
            padding: 0.5em;
            margin-top: 0.3em;
            box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 0px -2px 15px 4px rgba(27, 3, 3, 0);
            transition: all .2s ease-in-out;
            &:hover {
                font-weight: bold;
                transform: scale(1.05);
            }
            img:first-child {
                margin-left: 0;
                margin-right: auto;
                padding-left: 0.3em;
            }
            img:last-child {
                margin-left: auto;
                margin-right: 0;
                padding-right: 0.3em;
            }
            span {
                width: clamp(12rem, 32vw, 90%);
                padding: 0.2em;
                word-wrap: break-word;
            }
        }
    }
    /* ------------------------CLEAR BTN------------------------ */
    .clear-list {
        position: sticky;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 2em auto;
        padding: 0.4em;
        background-color: $dark-blue-btn;
        border-radius: 0.5em;
        border: none;
    }
}