header {
    @include flexbox-block;
    background-color: $yellow;
    h1 {
        padding-top: 0.5em;
    }
    .task-icons-container {
        @include flexbox(flex-end, 1.5em);
        padding: 1.2em;
        div {
            width: 4rem;
            @include flexbox-block;
            background-color: $cranberry;
            color: $white;
            border-radius: 0.625rem;
            padding-top: 0.4em;
            cursor: pointer;
            img {
                width: 1.5em;
                height: 1.5em;
            }
        }
    }
}